@charset "utf-8";
// ===================================================================
//  common_pc.css
// ===================================================================
.show_sp {
  display: none !important;
}
.row{
	margin: 0 auto;
    max-width: 80%;
    width: 100%;
}
.container{
  min-width: 1280px;
  overflow: hidden;
}