footer{
  background-color: #333;
  .bx_footer{
    padding: 0 40px 0 45px;
    &_top{
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 25px 0;
      .logo_ft{
        img{
          width: 223px;
          height: 73px;
        }
      }
      p{
        font-size: rem(15);
        line-height: 26px;
        color: #fff;
        .tel{
          pointer-events: none;
          color: #fff;
        }
      }
    }
  }
  .copyright{
    font-size: rem(13);
    line-height: 26px;
    color: #fff;
    text-align: center;
    padding: 14px 0;
    border-top: 1px solid #666666;
  }
}