header{
  background-color: #333;
  padding: 21px 0 18px;
  box-shadow: 3px 0px 15px 2px rgba(0,0,0, 0.75);
  position: relative;
  z-index: 9;
  .bx_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    &_logo{
      margin-top: 6px;
      img{
        width: 195px;
        height: 23px;
      }
    }
    &_contact{
      display: flex;
      &_l{
        color: #fff;
        font-family: $minchor;
        padding-right: 20px;
        p{
          font-size: rem(9.5);
          line-height: 1;
        }
        .gr_tel{
          padding-left: 50px;
          position: relative;
          margin-top: 3px;
          &:before{
            content:"";
            background: url(../images/icon_phone.png) no-repeat;
            width: 23px;
            height: 29px;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 17px;
            background-size: contain;
          }
          a{
            pointer-events: none;
            font-size: rem(18);
            line-height: 1;
            letter-spacing: 1px;
            font-weight: bold;
            color: #fff;
            text-align: center;
            display: block;
            padding-right: 4px;
          }
          em{
            font-style: normal;
            font-size: rem(10);
            line-height: 1;
            display: block;
            margin-top: 10px;
          }
        }
      }
      &_r{
        .btn{
          a{
            width: 183px;
            height: 51px;
            position: relative;
            transform: translateX(0);
            text-align: center;
            display: flex;
            &:after{
              content: "";
              position: absolute;
              width: 100%;
              height: 100%;
              z-index: -1;
              top: 4px;
              border-radius: 5px;
              left: 0;
              background: #846D2D;
            }
            span{
              width: 100%;
              height: 100%;
              font-size: rem(16);
              font-family: $minchor;
              padding-top: 2px;
              display: flex;
              align-items: center;
              justify-content: center;
              color: #fff;
              border-radius: 5px;
              line-height: 1;
              background: linear-gradient(0deg, rgba(225,208,159,1) 0%, rgba(206,181,100,1) 50%, rgba(196,165,66,1) 100%);
              position: relative;
              transition: transform 0.3s ease, -webkit-transform 0.3s ease, -moz-transform 0.3s ease;
              padding-left: 20px;
              &:before{
                content:"";
                background: url(../images/icon_mail.png) no-repeat;
                background-size: contain;
                width: 22px;
                height: 16px;
                position: absolute;
                top: 50%;
                left: 25px;
                transform: translateY(-50%);
              }
            }
            &:hover{
              span{
                transform: translateY(4px);
              }
            }
          }
        }
      }
    }
  }
}