@charset "UTF-8";
body {
  -moz-font-feature-settings: "palt";
       font-feature-settings: "palt";
}

html {
  font-size: 10px;
}

body,
td,
th,
input,
textarea {
  color: #000000;
  /* font-family: "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "MS P明朝", "MS PMincho", serif; */
  font-family: "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
  font-size: 1.3rem;
  line-height: 1.5;
}

body {
  overflow-wrap: break-word;
}

a,
a:link,
a:visited,
a:active,
a:hover,
a:hover img {
  color: #000000;
  text-decoration: none;
  /*
  filter: alpha(opacity=80);
  -ms-filter: "alpha(opacity=80)";
  opacity: .80;
*/
}

a:hover {
  text-decoration: none;
}

a:hover,
a:hover img,
.img_hover:hover {
  /*
  filter: alpha(opacity=80);
  -ms-filter: "alpha(opacity=80)";
  opacity: .80;
*/
}

img {
  vertical-align: bottom;
}

div,
p {
  /*word-break: break-all;*/
}

h2,
h3,
h4,
h5,
h6,
div,
p,
ul,
ol,
li,
dl,
dt,
dd,
img,
nav {
  margin: 0;
  padding: 0;
}

ul,
ol,
li {
  list-style: none;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, nav, picture {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

ul,
ol,
li {
  list-style: none;
}

figure, picture {
  font-size: 0;
}

picture {
  display: block;
}

* {
  -moz-box-sizing: border-box;
       box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
}

.df {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
}

.flw {
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.jc_sb {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.jc_c {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.ai_c {
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.show_sp {
  display: none !important;
}

.row {
  margin: 0 auto;
  max-width: 80%;
  width: 100%;
}

.container {
  min-width: 1280px;
  overflow: hidden;
}

header {
  background-color: #333;
  padding: 20px 0;
}

header .bx_header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .bx_header_logo img {
  width: 195px;
  height: 23px;
}

header .bx_header_contact {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
}

header .bx_header_contact_l {
  color: #fff;
  font-family: "游明朝体", "Yu Mincho", YuMincho, YuGothic, serif;
  padding-right: 20px;
  margin-top: 2px;
}

header .bx_header_contact_l p {
  font-size: 0.95rem;
  line-height: 1;
}

header .bx_header_contact_l .gr_tel {
  padding-left: 50px;
  position: relative;
  margin-top: 3px;
}

header .bx_header_contact_l .gr_tel:before {
  content: "";
  background: url(../images/icon_phone.png) no-repeat;
  width: 23px;
  height: 29px;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
     -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 20px;
  -moz-background-size: contain;
       background-size: contain;
}

header .bx_header_contact_l .gr_tel a {
  pointer-events: none;
  font-size: 2.3rem;
  line-height: 1;
  font-weight: bold;
  color: #fff;
  text-align: center;
  display: block;
  padding-right: 10px;
}

header .bx_header_contact_l .gr_tel em {
  font-style: normal;
  font-size: 1rem;
  line-height: 1;
  display: block;
  margin-top: 7px;
}

header .bx_header_contact_r .btn a {
  width: 183px;
  height: 51px;
  position: relative;
  -webkit-transform: translateX(0);
     -moz-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
  text-align: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
}

header .bx_header_contact_r .btn a:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  top: 4px;
  -moz-border-radius: 5px;
       border-radius: 5px;
  left: 0;
  background: #846D2D;
}

header .bx_header_contact_r .btn a span {
  width: 100%;
  height: 100%;
  font-size: 1.6rem;
  font-family: "游明朝体", "Yu Mincho", YuMincho, YuGothic, serif;
  padding-top: 2px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff;
  -moz-border-radius: 5px;
       border-radius: 5px;
  line-height: 1;
  background: -webkit-linear-gradient(bottom, #e1d09f 0%, #ceb564 50%, #c4a542 100%);
  background: -moz-linear-gradient(bottom, #e1d09f 0%, #ceb564 50%, #c4a542 100%);
  background: linear-gradient(0deg, #e1d09f 0%, #ceb564 50%, #c4a542 100%);
  position: relative;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease, -moz-transform 0.3s ease;
  padding-left: 20px;
}

header .bx_header_contact_r .btn a span:before {
  content: "";
  background: url(../images/icon_mail.png) no-repeat;
  -moz-background-size: contain;
       background-size: contain;
  width: 22px;
  height: 16px;
  position: absolute;
  top: 50%;
  left: 25px;
  -webkit-transform: translateY(-50%);
     -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

header .bx_header_contact_r .btn a:hover span {
  -webkit-transform: translateY(4px);
     -moz-transform: translateY(4px);
      -ms-transform: translateY(4px);
          transform: translateY(4px);
}

footer {
  background-color: #333;
}

footer .bx_footer {
  padding: 0 40px 0 45px;
}

footer .bx_footer_top {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 25px 0;
}

footer .bx_footer_top .logo_ft img {
  width: 223px;
  height: 73px;
}

footer .bx_footer_top p {
  font-size: 1.5rem;
  line-height: 26px;
  color: #fff;
}

footer .bx_footer_top p .tel {
  pointer-events: none;
  color: #fff;
}

footer .copyright {
  font-size: 1.3rem;
  line-height: 26px;
  color: #fff;
  text-align: center;
  padding: 14px 0;
  border-top: 1px solid #666666;
}
