@charset "UTF-8";
/*    .container{
width: 1280px;
margin: 0 auto;
 }    */
.st_banner {
  background-color: #1A172A;
  padding: 69px 0 60px;
  position: relative;
  -webkit-transform: translateZ(0);
     -moz-transform: translateZ(0);
          transform: translateZ(0);
}

.st_banner:after {
  content: "";
  background: url(../images/img_banner.png) no-repeat;
  width: 1240px;
  height: 559px;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -1;
}

.st_banner .bx_banner .txt_top {
  font-size: 3.2rem;
  line-height: 1;
  letter-spacing: 16px;
  color: #fff;
  font-weight: bold;
  font-family: "游明朝体", "Yu Mincho", YuMincho, YuGothic, serif;
  margin-bottom: 49px;
}

.st_banner .bx_banner .txt_fe {
  font-size: 1.5rem;
  color: #fff;
  line-height: 1;
  position: relative;
  margin-bottom: 16px;
  display: inline-block;
  padding: 0px 17px;
}

.st_banner .bx_banner .txt_fe:before {
  content: "";
  width: 9px;
  height: 1px;
  background-color: #fff;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
     -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0;
}

.st_banner .bx_banner .txt_fe:after {
  content: "";
  width: 9px;
  height: 1px;
  background-color: #fff;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
     -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 0;
}

.st_banner .bx_banner figure {
  line-height: 0;
  margin-left: -6px;
}

.st_banner .bx_banner figure img {
  width: 550px;
  height: 77px;
}

.st_banner .bx_banner .ttl_banner {
  line-height: 0;
  margin: 3px 0 0 -2px;
}

.st_banner .bx_banner .ttl_banner img {
  width: 551px;
  height: 50px;
}

.st_banner .bx_banner .bx_fss {
  /* background: linear-gradient(90deg, rgba(225,208,159,1) 0%, rgba(206,181,100,1) 50%, rgba(196,165,66,1) 100%); */
  width: 432px;
  padding: 1px;
  margin: 41px 0 12px;
  -moz-border-radius: 5px;
       border-radius: 5px;
  background: url(../images/border_fss.png) no-repeat;
  -moz-background-size: 100% 100%;
       background-size: 100% 100%;
}

.st_banner .bx_banner .bx_fss .bk_b {
  /* background-color: #1A172A; */
  width: 100%;
  height: 100%;
  -moz-border-radius: 5px;
       border-radius: 5px;
  padding: 19px  15px 11px;
  position: relative;
}

.st_banner .bx_banner .bx_fss .bk_b h3 {
  margin-bottom: 8px;
}

.st_banner .bx_banner .bx_fss .bk_b h3 img {
  width: 268px;
  height: 18px;
}

.st_banner .bx_banner .bx_fss .bk_b p {
  font-size: 1.2rem;
  line-height: 20px;
  color: #fff;
}

.st_banner .bx_banner .bx_fss .bk_b em {
  font-size: 0.7rem;
  line-height: 1;
  color: #fff;
  font-style: normal;
  display: block;
  margin-top: 12px;
}

.st_banner .bx_banner .bx_fss .bk_b .icon_sys {
  position: absolute;
  bottom: 5px;
  right: 10px;
}

.st_banner .bx_banner .bx_fss .bk_b .icon_sys img {
  width: 56px;
  height: 32px;
}

.st_banner .bx_banner em {
  font-style: normal;
  color: #fff;
  font-size: 1rem;
  line-height: 12px;
  display: block;
}

.st_encounter {
  padding: 62px 0 60px;
  background-color: #0A0514;
  height: 746px;
  position: relative;
}

.st_encounter:after {
  content: "";
  background: url(../images/img_count.png) no-repeat;
  width: 1131px;
  height: 654px;
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
     -moz-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

.st_encounter .bx_ent {
  max-width: 980px;
}

.st_encounter .bx_ent .ttl_ent {
  text-align: center;
  line-height: 1;
  color: #fff;
  font-family: "Avenir Light";
  font-size: 5rem;
  font-weight: 300;
  letter-spacing: 9px;
}

.st_encounter .bx_ent .ttl_sub {
  text-align: center;
  margin: 14px 0 7px;
  letter-spacing: 2px;
  display: block;
  line-height: 1;
  font-size: 2.5rem;
  color: #fff;
  font-family: "Avenir Light";
}

.st_encounter .bx_ent .gr_art {
  position: relative;
}

.st_encounter .bx_ent .gr_art article {
  text-align: center;
  width: 304px;
  height: 338px;
  background: url(../images/bkg_count.png) no-repeat;
  -moz-background-size: cover;
       background-size: cover;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.st_encounter .bx_ent .gr_art article:nth-of-type(1) {
  position: absolute;
  top: -10px;
  left: 190px;
}

.st_encounter .bx_ent .gr_art article:nth-of-type(1) h3 img {
  width: 58px;
  height: auto;
}

.st_encounter .bx_ent .gr_art article:nth-of-type(1) span img {
  width: 59px;
  height: auto;
}

.st_encounter .bx_ent .gr_art article:nth-of-type(2) {
  position: absolute;
  top: -10px;
  right: 187px;
}

.st_encounter .bx_ent .gr_art article:nth-of-type(2) h3 img {
  width: 109px;
  height: auto;
}

.st_encounter .bx_ent .gr_art article:nth-of-type(2) span img {
  width: 29px;
  height: auto;
}

.st_encounter .bx_ent .gr_art article:nth-of-type(3) {
  position: absolute;
  top: 183px;
  left: -25px;
}

.st_encounter .bx_ent .gr_art article:nth-of-type(3) h3 img {
  width: 108px;
  height: auto;
}

.st_encounter .bx_ent .gr_art article:nth-of-type(3) span img {
  width: 118px;
  height: auto;
}

.st_encounter .bx_ent .gr_art article:nth-of-type(4) {
  position: absolute;
  top: 184px;
  right: -27px;
}

.st_encounter .bx_ent .gr_art article:nth-of-type(4) h3 img {
  width: 97px;
  height: auto;
}

.st_encounter .bx_ent .gr_art article:nth-of-type(4) span img {
  width: 104px;
  height: auto;
}

.st_encounter .bx_ent .gr_art article h3 {
  line-height: 0;
  margin-bottom: 14px;
}

.st_encounter .bx_ent .gr_art article span {
  line-height: 0;
  margin-bottom: 20px;
}

.st_encounter .bx_ent .gr_art article p {
  font-size: 1.5rem;
  line-height: 26px;
  color: #fff;
}

.st_face_body {
  position: relative;
  -webkit-transform: translateZ(0);
     -moz-transform: translateZ(0);
          transform: translateZ(0);
  padding-top: 85px;
}

.st_face_body:after {
  content: "";
  background: url(../images/bkg_face.png) no-repeat;
  -moz-background-size: contain;
       background-size: contain;
  width: 742px;
  height: 649px;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

.st_face_body .bx_f_body {
  padding: 0 0 69px;
}

.st_face_body .bx_f_body .ttl_face {
  margin: 0 0 46px 6px;
  letter-spacing: 11px;
  position: relative;
}

.st_face_body .bx_f_body .ttl_face:after {
  content: "&";
  font-size: 20.1rem;
  line-height: 1;
  color: #E6E6E6;
  font-family: "游明朝体", "Yu Mincho", YuMincho, YuGothic, serif;
  position: absolute;
  top: -11px;
  left: 95px;
  font-weight: 500;
  z-index: -1;
}

.st_face_body .bx_f_body .ttl_face span {
  font-size: 5.8rem;
  line-height: 1;
  font-family: "游明朝体", "Yu Mincho", YuMincho, YuGothic, serif;
  display: block;
}

.st_face_body .bx_f_body .ttl_face span ins {
  font-size: 7.2rem;
  text-decoration: none;
}

.st_face_body .bx_f_body .ttl_face span:nth-of-type(2) {
  margin: 23px 0 0 143px;
}

.st_face_body .bx_f_body h3 {
  margin-bottom: 25px;
}

.st_face_body .bx_f_body h3 img {
  width: 590px;
  height: auto;
}

.st_face_body .bx_f_body p {
  font-size: 1.6rem;
  letter-spacing: 1px;
  line-height: 36px;
  font-family: "游明朝体", "Yu Mincho", YuMincho, YuGothic, serif;
  font-weight: 600;
}

.st_face_body .bx_f_body p .txt_g {
  color: #9E7100;
}

.st_face_body .bx_f_body .bx_small {
  width: 168px;
  height: 194px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: url(../images/bkg_sub.png) no-repeat;
  -moz-background-size: contain;
       background-size: contain;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: "游明朝体", "Yu Mincho", YuMincho, YuGothic, serif;
  text-align: center;
  position: absolute;
  top: 112px;
  right: 310px;
  z-index: 1;
}

.st_face_body .bx_f_body .bx_small small {
  font-size: 2.2rem;
  color: #fff;
}

.st_face_body .bx_f_body .bx_small em {
  font-size: 2.9rem;
  color: #fff;
  line-height: 1;
  font-style: normal;
}

.st_face_body .bx_f_body .bx_large {
  width: 220px;
  height: 249px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: url(../images/bkg_sub.png) no-repeat;
  -moz-background-size: contain;
       background-size: contain;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  position: absolute;
  top: 287px;
  right: 145px;
  z-index: 1;
}

.st_face_body .bx_f_body .bx_large em {
  font-size: 3.1rem;
  line-height: 49px;
  color: #fff;
  font-family: "游明朝体", "Yu Mincho", YuMincho, YuGothic, serif;
  font-style: normal;
}

.st_face_body .list_img {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
}

.st_face_body .list_img li {
  width: 33.33%;
}

.st_face_body .list_img li img {
  width: 100%;
  height: auto;
}

.sec5_inner_ct figure {
  font-size: inherit;
}

.sec5_inner_ct figure img {
  height: 153px;
}
