.sec3{
	padding: 60px 0 75px;
	background: #1a172a;
	h3{
		text-align: center;
		margin-bottom: 40px;
		img{
			width: 894px;
			height: 98px;
		}
	}
	&_step{
		background: #fff;
		padding: 60px 0;
		border: 2px solid rgb(224, 207, 156);
		margin: 30px 0;
		.sec3_inner{
			display: flex;
			justify-content: space-between;
			margin-bottom: 40px;
			dl{
				dt{
					padding: 15px 40px 15px 120px;
					font-size: rem(35);
					line-height: rem(42);
					color: #fff;
					background: linear-gradient(to right, rgba(200,169,94,1) 61%, rgba(200,169,94,0) 100%);
					position: relative;
					font-family: "游明朝体", "Yu Mincho", YuMincho, YuGothic, serif;
					letter-spacing: 3px;
					font-weight: bold;
					text-shadow: 3px 3px 3px rgba(153, 153, 153, 0.75);
					&:before{
						content:'';
						position: absolute;
						left: 40px;
						top: -30px;
					}
					span{
						font-size: rem(25);
						line-height: rem(30);
					}
				}
				dd{
					padding: 40px;
					font-size: rem(15);
					line-height: rem(30);
				}
			}
			&:nth-of-type(even){
				dl{
					order: 2;
					dt{
						background: linear-gradient(to left, rgba(200,169,94,1) 61.73%, rgba(200,169,94,0) 100%);
					}
				}
				figure{
					order: 1;
				}
			}
			&:first-of-type{
				margin-bottom: 0;
				dt{
					&:before{
						width: 41px;
						height: 80px;
						background: url(../images/number1.png) no-repeat;
						background-size: contain;
					}
				}
				img{
					width: 359px;
					height: auto;
				}
			}
			&:nth-of-type(2){
				dt{
					&:before{
						width: 65px;
						height: 82px;
						background: url(../images/number2.png) no-repeat;
						background-size: contain;
					}
				}
			}
			&:nth-of-type(3){
				dt{
					&:before{
						width: 63px;
						height: 84px;
						background: url(../images/number3.png) no-repeat;
						background-size: contain;
					}
				}
			}
			&:nth-of-type(4){
				dt{
					&:before{
						width: 58px;
						height: 82px;
						background: url(../images/number4.png) no-repeat;
						background-size: contain;
					}
				}
			}
			&:nth-of-type(5){
				margin-bottom: 0;
				dt{
					&:before{
						width: 64px;
						height: 87px;
						background: url(../images/number5.png) no-repeat;
						background-size: contain;
					}
				}
			}
		}
	}
	.sec3_video{
		padding: 0 40px;
		text-align: center;
		h4{
			color: #9e7100;
			text-align: center;
			border-bottom: 1px solid #b59540;
			padding-bottom: 20px;
			margin: 30px 0;
			line-height: 1;
			font-size: rem(35);
			line-height: rem(42);
			font-weight: bold;
    	letter-spacing: 3px;
    	font-family: "游明朝体", "Yu Mincho", YuMincho, YuGothic, serif;
		}
		iframe{
			width: 940px;
			height: 500px;
			margin: 0 auto;
		}
	}
}
.sec4{
	background: url(../images/sec4_shadow.png) top repeat-x;
	h3{
		text-align: center;
		padding-top: 60px;
		font-size: rem(43);
		line-height: rem(60);
		font-weight: 500;
		letter-spacing: 3px;
		font-family: "游明朝体", "Yu Mincho", YuMincho, YuGothic, serif;
	}
	figure{
		text-align: center;
		margin: 30px 0 35px;
		img{
			width: 514px;
			height: auto;
		}
	}
	&_subtt{
		text-align: center;
		padding: 19px 0;
		color: #9f6f01;
		position: relative;
		width: 680px;
		margin: 0 auto;
		font-size: rem(23);
		line-height: 1;
		font-family: "游明朝体", "Yu Mincho", YuMincho, YuGothic, serif;
		font-weight: bold;
    letter-spacing: 3px;
    &:before{
    	content: '';
    	width: 100%;
    	height: 1px;
    	background: linear-gradient(to left, rgba(200,169,94,0) 0%, rgba(200,169,94,0.42) 25%, rgba(200,169,94,1) 50%, rgba(200,169,94,0.28) 75%, rgba(200,169,94,0) 100%);
    	position: absolute;
    	top: 0;
    	left: 0;
    }
     &:after{
    	content: '';
    	width: 100%;
    	height: 1px;
    	background: linear-gradient(to left, rgba(200,169,94,0) 0%, rgba(200,169,94,0.42) 25%, rgba(200,169,94,1) 50%, rgba(200,169,94,0.28) 75%, rgba(200,169,94,0) 100%);
    	position: absolute;
    	bottom: 0;
    	left: 0;
    }
	}
	&_ct{
		display: flex;
		justify-content: space-between;
		width: 1000px;
		margin: 0 auto;
		figure{
			margin: 0;
			img{
				width: 362px;
			}
		}
		&_inner{
			padding: 100px 25px 50px;
			width: 585px;			
			margin-top: -40px;
			position: relative;
			font-family: "游明朝体", "Yu Mincho", YuMincho, YuGothic, serif;
			font-weight: bold;
			&:before{
				content: '';
				width: 100%;
				height: 100%;
				filter: grayscale(100%);
				background: url(../images/sec4_bg.png) bottom no-repeat;
				background-size: cover;
				position: absolute;
				left: 0;
				top: 0;
			}
			ul{
				margin-bottom: 40px;
				border-bottom: 1px solid #9f7101;
				li{
					position: relative;
					padding-left: 60px;
					margin-bottom: 30px;
					font-size: rem(25);
					line-height: rem(36);
					&:after{
						content: '';
						width: 40px;
						height: 36px;
						background: url(../images/sec4_ic_list.png) no-repeat;
						background-size: contain;
						position: absolute;
						top: 50%;
						transform: translateY(-50%);
						left: 0;
					}
				}
			}
			p{
				font-size: rem(18);
				line-height: rem(38);
				span{
					color: #9E7100;
				}
			}
		}
	}
}
.sec5{
	text-align: center;
	background: #1a1a1a;
	padding: 50px 0 75px;
	h3{
		font-size: 3.5rem;
    line-height: 1;
    color: #fff;
    background: url(../images/bkg_ttl_pro.png) top center no-repeat;
    background-size: contain;
    padding: 14px 0;
    text-align: center;
    margin-bottom: 50px;
    font-weight: 500;
    font-family: "游明朝体", "Yu Mincho", YuMincho, YuGothic, serif;
    letter-spacing: 3px;
	}
	&_inner{
		background: #fff;
		padding: 0 40px 40px;
		border: 2px solid #e1d1a0;
		h4{
			padding: 38px 0 18px;
			margin-bottom: 25px;
			font-size: rem(35);
			line-height: 1;
			font-weight: bold;
			color: #9E7100;
			text-align: left;
			letter-spacing: 8px;
			position: relative;
			padding-left: 204px;
			font-family: "游明朝体", "Yu Mincho", YuMincho, YuGothic, serif;
			&:before{
	    	content: '';
	    	width: 154px;
	    	height: 50px;
	    	background: url(../images/sec5_logo.png) top center no-repeat;
	    	background-size: contain;
	    	position: absolute;
	    	top: 50%;
				transform: translateY(-50%);
				left: 0;
	    }
	    &:after{
	    	content: '';
	    	width: 100%;
	    	height: 1px;
	    	background: linear-gradient(to left, rgba(200,169,94,0) 0%, rgba(200,169,94,0.42) 12.25%, rgba(200,169,94,1) 49.67%, rgba(200,169,94,0.28) 90.63%, rgba(200,169,94,0) 100%);
	    	position: absolute;
	    	bottom: 0;
	    	left: 0;
	    }
		}
		&_ct{
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			figure{
				width: 23.4%;
				font-size: inherit;
				margin-right: 20px;
				margin-bottom: 20px;
				figcaption{
					text-align: center;
					background: #dedee0;
					border-radius: 5px;
					margin-bottom: 15px;
					font-size: rem(20);
					line-height: 1;
					padding: 12px 5px 8px;
					letter-spacing: -.5px;
				}
				img{
					width: 100%;
				}
				&:nth-child(4n){
					margin-right: 0;
				}
			}
		}
	}
}
.sec6{
	padding: 60px 40px;
	background: url(../images/sec4_shadow.png) top repeat-x;
	h3{
		text-align: center;
		margin-bottom: 20px;
		img{
			width: 418px;
			height: auto;
		}
	}
	h4{
		text-align: center;
		margin-bottom: 50px;
		img{
			width: 901px;
			height: auto;
		}
	}
	&_inner{
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 941px;
		margin: 0 auto;
		&_ct{
			width: 250px;
			text-align: center;
			em{
				font-style: normal;
				font-family: "游明朝体", "Yu Mincho", YuMincho, YuGothic, serif;
	    	letter-spacing: 3px;
	    	line-height: 1;
	    	font-size: rem(44);
	    	margin-bottom: 45px;
	    	font-weight: bold;
	    	display: block;
			}
			p{
				span{
					font-size: rem(30);
					letter-spacing: 3px;
		    	line-height: 1;
		    	font-family: "游明朝体", "Yu Mincho", YuMincho, YuGothic, serif;
		    	padding: 20px 0;
		    	color: #fff;
		    	background: linear-gradient(to left, rgba(200,169,94,0) 0%, rgba(200,169,94,0.42) 12.25%, rgba(200,169,94,1) 49.67%, rgba(200,169,94,0.28) 90.63%, rgba(200,169,94,0) 100%);
					display: block;
				}
				&:first-of-type{
					&:after{
						content: '';
						width: 35px;
						height: 35px;
						display: block;
						margin: 10px auto;
						background: url(../images/ic_plus.png) no-repeat;
	    			background-size: contain;
					}
				}
				img{
					width: 88px;
					height: auto;
					margin-top: 30px;
				}
			}
		}
	}
}
.contact{
	background: #1a172a;
	padding: 55px 0;
	&_inner{
		border: 2px solid rgb(224, 207, 156);
		background: #fff;
		padding: 30px 40px;
		h3{
			text-align: center;
			color: #9d7201;
			border-bottom: 1px solid #9E7100;
			padding-bottom: 16px;
			font-size: rem(30);
			line-height: 1;
			font-weight: bold;
	    font-family: "游明朝体", "Yu Mincho", YuMincho, YuGothic, serif;
	    letter-spacing: 3px;
		}
		&_list{
			display: flex;
			justify-content: space-between;
			padding: 25px 20px 30px;
			p{
				padding-left: 55px;
				position: relative;
				a{
					display: block;
					font-size: rem(50);
					line-height: 1;
					font-family: 'Avenir Heavy';
					letter-spacing: 2px;
				}
				span{
					display: block;
					font-size: rem(17);
					line-height: 1;
					text-align: center;
    			letter-spacing: 2px;
 					margin-top: 5px;
				}
				&.phone{
					padding-left: 61px;
					a{
						pointer-events: none;
						&:before{
							content: '';
							width: 36px;
							height: 45px;
							background: url(../images/ic_phone.png) no-repeat;
							background-size: contain;
							position: absolute;
							top: 50%;
							left: 0;
							transform: translateY(-50%);
						}
					}
				}
				&.fax{
					padding-left: 73px;
					&:before{
						content: '';
						width: 48px;
						height: 50px;
						background: url(../images/ic_fax.png) no-repeat;
						background-size: contain;
						position: absolute;
						top: 50%;
						left: 0;
						transform: translateY(-50%);
					}
				}
			}
		}
		.btn{
			text-align: center;
			a{
				width: 627px;
				height: 64px;
				position: relative;
				transform: translateX(0);
				text-align: center;
				display: flex;
				margin: 0 auto;
				span{
					width: 100%;
					height: 100%;
					font-size: rem(22);
					line-height: 1;
					padding-top: 2px;
					display: flex;
					align-items: center;
					justify-content: center;
					color: #fff;
					border-radius: 5px;
					line-height: 1;
					background: linear-gradient(0deg, #e1d09f 0%, #ceb564 50%, #c4a542 100%);
					position: relative;
					transition: transform 0.3s ease;
					padding-left: 20px;
					vertical-align: middle;
					font-weight: bold;
					font-family: "游明朝体", "Yu Mincho", YuMincho, YuGothic, serif;
					letter-spacing: 3px;
					&:before{
						content: "";
						background: url(../images/ic_mail.png) no-repeat;
						background-size: contain;
						width: 31px;
						height: 23px;
						display: inline-block;
						vertical-align: middle;
						padding-right: 25px;
						position: relative;
    				top: -2px;
					}
				}
				&:after{
					content: "";
					position: absolute;
					width: 100%;
					height: 100%;
					z-index: -1;
					top: 4px;
					border-radius: 5px;
					left: 0;
					background: #846D2D;
				}
				&:hover{
					span{
						transform: translateY(4px);
					}
				}
			}
		}
	}
}