.st_banner{
  background-color: #1A172A;
  padding: 69px 0 60px;
  position: relative;
  transform: translateZ(0);
  &:after{
    content:"";
    background: url(../images/img_banner.png) no-repeat;
    width: 1240px;
    height: 559px;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
  }
  .bx_banner{
    .txt_top{
      font-size: rem(32);
      line-height: 1;
      letter-spacing: 16px;
      color: #fff;
      font-weight: bold;
      font-family: $minchor;
      margin-bottom: 49px;
    }
    .txt_fe{
      font-size: rem(15);
      color: #fff;
      line-height: 1;
      position: relative;
      margin-bottom: 16px;
      display: inline-block;
      padding: 0px 17px;
      &:before{
        content:"";
        width: 9px;
        height: 1px;
        background-color: #fff;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
      }
      &:after{
        content:"";
        width: 9px;
        height: 1px;
        background-color: #fff;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 0;
      }
    }
    figure{
      line-height: 0;
      margin-left: -6px;
      img{
        width: 550px;
        height: 77px;
      }
    }
    .ttl_banner{
      line-height: 0;
      margin: 3px 0 0 -2px;
      img{
        width: 551px;
        height: 50px;
      }
    }
    .bx_fss{
      /* background: linear-gradient(90deg, rgba(225,208,159,1) 0%, rgba(206,181,100,1) 50%, rgba(196,165,66,1) 100%); */
      width: 432px;
      padding: 1px;
      margin: 41px 0 12px;
      border-radius: 5px;
      background: url(../images/border_fss.png) no-repeat;
      background-size: 100% 100%;
      .bk_b{
        /* background-color: #1A172A; */
        width: 100%;
        height: 100%;
        border-radius: 5px;
        padding: 19px  15px 11px;
        position: relative;
        h3{
          margin-bottom: 8px;
          img{
            width: 268px;
            height: 18px;
          }
        }
        p{
          font-size: rem(12);
          line-height: 20px;
          color: #fff;
        }
        em{
          font-size: rem(7);
          line-height: 1;
          color: #fff;
          font-style: normal;
          display: block;
          margin-top: 12px;
        }
        .icon_sys{
          position: absolute;
          bottom: 5px;
          right: 10px;
          img{
            width: 56px;
            height: 32px;
          }
        }
      }
    }
    em{
      font-style: normal;
      color: #fff;
      font-size: rem(10);
      line-height: 12px;
      display: block;
    }
  }
}
.st_encounter{
  padding: 62px 0 60px;
  background-color: #0A0514;
  height: 746px;
  position: relative;
  overflow: hidden;
  &:after{
    content:"";
    background: url(../images/img_count.png) no-repeat;
    width: 1131px;
    height: 654px;
    position: absolute;
    bottom: -100px;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: all 1s ease 0.3s;
  }
  &.active{
    &:after {
      opacity: 1;
      bottom: 0;
    }
  }
  .bx_ent{
    max-width: 980px;
    .ttl_ent{
      text-align: center;
      line-height: 1;
      color: #fff;
      font-family: $light;
      font-size: rem(50);
      font-weight: 300;
      letter-spacing: 9px;
    }
    .ttl_sub{
      text-align: center;
      margin: 14px 0 7px;
      letter-spacing: 2px;
      display: block;
      line-height: 1;
      font-size: rem(25);
      color: #fff;
      font-family: $light;
    }
    .gr_art{
      position: relative;
      article{
        text-align: center;
        width: 304px;
        height: 338px;
        background: url(../images/bkg_count.png) no-repeat;
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        opacity: 0;
        &.active{
          opacity: 1;
        }
        &:nth-of-type(1){
          position: absolute;
          top: -10px;
          left: 190px;
          h3{
            img{
              width: 58px;
              height: auto;
            }
          }
          span{
            img{
              width: 59px;
              height: auto;
            }
          }
        }
        &:nth-of-type(2){
          position: absolute;
          top: -10px;
          right: 187px;
          h3{
            img{
              width: 109px;
              height: auto;
            }
          }
          span{
            img{
              width: 29px;
              height: auto;
            }
          }
        }
        &:nth-of-type(3){
          position: absolute;
          top: 183px;
          left: -25px;
          h3{
            img{
              width: 108px;
              height: auto;
            }
          }
          span{
            img{
              width: 118px;
              height: auto;
            }
          }
        }
        &:nth-of-type(4){
          position: absolute;
          top: 184px;
          right: -27px;
          h3{
            img{
              width: 97px;
              height: auto;
            }
          }
          span{
            img{
              width: 104px;
              height: auto;
            }
          }
        }
        h3{
          line-height: 0;
          margin-bottom: 14px;
        }
        span{
          line-height: 0;
          margin-bottom: 20px;
        }
        p{
          font-size: rem(15);
          line-height: 26px;
          color: #fff;
        }
      }
    }
  }
}
.st_type_hand{
  background: url(../images/bkg_product.png) no-repeat;
  background-size: cover;
  padding: 81px 0 92px;
  .ttl_type{
    font-size: rem(35);
    line-height: 1;
    color: #fff;
    font-family: $minchor;
    background: url(../images/bkg_ttl_pro.png) top center no-repeat;
    background-size: contain;
    padding: 14px 0;
    text-align: center;
    margin-bottom: 50px;
  }
  .gr_type{
    display: flex;
    flex-flow: row wrap;
    margin-left: -99px;
    padding: 0 25px;
    article{
      width: calc(50% - 99px);
      margin: 0 0 99px 99px;
      position: relative;
      transform: translateZ(0);
      padding: 0 2%;
      &:nth-of-type(1){
        &:after{
          content:"";
          width: 2px;
          height: 0;
          background-color: #999999;
          position: absolute;
          top: 0;
          right: -50px;
          z-index: 1;
          transition: height 0.3s 0.8s;
        }
        &.active{
          &:after {
            height: 100%;
          }
        }
        figure{
          img{
            width: 289px;
            height: 183px;
          }
        }
        h3{
          background-size: 70% 100%;
        }
      }
      &:nth-of-type(2){
        padding-top: 7px;
        &:before{
          content:"";
          width: 0;
          height: 2px;
          background-color: #999999;
          position: absolute;
          bottom: -50px;
          right: 0;
          z-index: 1;
          transition: width 0.3s 0.8s;
        }
        &.active{
          &:before {
            width:100%;
          }
        }
        figure{
          img{
            width: 270px;
            height: 176px;
          }
        }
        .main_art{
          .list_gt{
            li{
              &:nth-of-type(3){
                display: inline-block;
              }
              &:nth-of-type(4){
                display: inline-block;
                margin-left: 1%;
              }
            }
          }
        }
      }
      &:nth-of-type(3){
        &:before{
          content:"";
          width: 0;
          height: 2px;
          background-color: #999999;
          position: absolute;
          top: -50px;
          left:0;
          z-index: 1;
          transition: width 0.3s 0.8s;
        }
        &.active{
          &:before {
            width: 100%;
          }
        }
        figure{
          img{
            width: 299px;
            height: 187px;
          }
        }
      }
      &:nth-of-type(4){
        padding-top: 9px;
         &:after{
          content:"";
          width: 2px;
          height: 0;
          background-color: #999999;
          position: absolute;
          bottom: 0;
          left: -50px;
          z-index: 1;
          transition: height 0.3s 0.8s;
        }
        &.active{
          &:after {
            height: 100%;
          }
        }
        figure{
          img{
            width: 296px;
            height: 178px;
          }
        }
      }
      figure{
        text-align: center;
        line-height: 0;
      }
      h3{
        font-size: rem(20);
        line-height: 1;
        color: #fff;
        font-family: $minchor;
        font-weight: bold;
        background: url(../images/bg_tt_pro.png) top center no-repeat;
        background-size: 90% 100%;
        text-align: center;
        height: 85px;
        margin: -16px 0 25px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .main_art{
        .list_gt{
          li{
            font-size: rem(17);
            line-height: 36px;
            color: #fff;
            font-family: $minchor;
            position: relative;
            padding-left: 30px;
            &:before{
              content:"◆";
              color: #fff;
              font-size: rem(17);
              line-height: 1;
              font-family: $minchor;
              position: absolute;
              top: 8px;
              left: 0;
            }
          }
        }
        em{
          font-size: rem(10);
          line-height: 21px;
          color: #fff;
          font-family: $minchor;
          font-style: normal;
          display: block;
          margin-top: 10px;
        }
      }
    }
  }
  .bx_specific{
    border: 2px solid #E0CF9C;
    border-radius: 7px;
    background-color: #fff;
    .ttl_spec{
      font-size: rem(25);
      line-height: 1;
      color: #fff;
      font-family: $minchor;
      letter-spacing: 2px;
      background-color: #C8A95E;
      padding: 20px 0;
      text-align: center;
    }
    .spec_infor{
      padding: 47px 97px 40px;
      dl{
        border-bottom: 1px solid #CCCCCC;
        display: flex;
        dt{
          width: 195px;
          font-size: rem(18);
          line-height: 47px;
          padding-left: 30px;
        }
        dd{
          width: calc(100% - 195px);
          padding-left: 100px;
          font-size: rem(15);
          line-height: 47px;
        }
      }
    }
  }
}
.st_face_body{
  position: relative;
  transform: translateZ(0);
  padding-top: 85px;
  &:before{
    content:"";
    background: url(../images/icon_after.png) no-repeat;
    background-size: contain;
    width: 90px;
    height: 116px;
    position: absolute;
    top: 136px;
    right: 151px;
  }
  &:after{
    content:"";
    background: url(../images/bkg_face.png) no-repeat;
    background-size: contain;
    width: 742px;
    height: 649px;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
  }
  .bx_f_body{
    padding: 0 0 69px;
    .ttl_face{
      margin: 0 0 46px 6px;
      letter-spacing: 11px;
      position: relative;
      &:after{
        content::"&";
        font-size: rem(201);
        line-height: 1;
        color: #E6E6E6;
        font-family: $minchor;
        position: absolute;
        top: -11px;
        left: 95px;
        font-weight: 500;
        z-index: -1;
      }
      span{
        font-size: rem(58);
        line-height: 1;
        font-family: $minchor;
        display: block;
        ins{
          font-size: rem(72);
          text-decoration: none;
        }
        &:nth-of-type(2){
          margin: 23px 0 0 143px;
        }
      }
    }
    h3{
      margin-bottom: 25px;
      img{
        width: 590px;
        height: auto;
      }
    }
    p{
      font-size: rem(16);
      letter-spacing: 1px;
      line-height: 36px;
      font-family: $minchor;
      font-weight: 600;
      .txt_g{
        color: #9E7100;
      }
    }
    .bx_small{
      width: 168px;
      height: 194px;
      display: flex;
      justify-content: center;
      align-items: center;
      background: url(../images/bkg_sub.png) no-repeat;
      background-size: contain;
      flex-direction: column;
      font-family: $minchor;
      text-align: center;
      position: absolute;
      top: 112px;
      right: 310px;
      z-index: 1;
      small{
        font-size: rem(22);
        color: #fff;
        text-shadow: 3px 0 3px rgba(0,0,0,0.75);
      }
      em{
        font-size: rem(29);
        color: #fff;
        line-height: 1;
        font-style: normal;
        text-shadow: 3px 0 3px rgba(0,0,0,0.75);
      }
    }
    .bx_large{
      width: 220px;
      height: 249px;
      display: flex;
      justify-content: center;
      align-items: center;
      background: url(../images/bkg_sub.png) no-repeat;
      background-size: contain;
      flex-direction: column;
      text-align: center;
      position: absolute;
      top: 287px;
      right: 145px;
      z-index: 1;
      em{
        font-size: rem(31);
        line-height: 49px;
        color: #fff;
        font-family: $minchor;
        font-style: normal;
        text-shadow: 3px 0 3px rgba(0,0,0,0.75);
      }
    }
  }
  .list_img{
    display: flex;
    li{
      width: 33.33%;
      line-height: 0;
      img{
        width: 100%;
        height: auto;
      }
    }
  }
}