footer{
  background-color: #333;
  .bx_footer{
    &_top{
      padding: vw(60) 0 vw(40);
      .logo_ft{
        text-align: center;
        margin-bottom: vw(30);
        img{
          width: vw(225);
          height: vw(74);
        }
      }
      p{
        font-size: vw(22);
        line-height: vw(35);
        color: #fff;
        letter-spacing: vw(1);
        text-align: center;
        .tel{
          color: #fff;
        }
        +p{
          margin-top: vw(30);
        }
      }
    }
  }
  .copyright{
    font-size: vw(22);
    line-height: vw(26);
    color: #fff;
    text-align: center;
    padding: vw(32) 0;
    border-top: 1px solid #666666;
  }
}