header{
  background-color: #333;
  padding: vw(15) 0 vw(18);
  box-shadow: 3px 0px 15px 2px rgba(0,0,0, 0.75);
  position: relative;
  z-index: 9;
  .bx_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    &_logo{
      a{
        display: block;
        line-height: 0;
      }
      img{
        width: vw(251);
        height: vw(30);
      }
    }
    &_contact{
      display: flex;
      flex-direction: column;
      &_l{
        color: #fff;
        font-family: $minchor;
        order: 2;
        .gr_tel{
          padding-left: vw(50);
          position: relative;
          margin-top: vw(6);
          &:before{
            content:"";
            background: url(../images/icon_phone.png) no-repeat;
            width: vw(50);
            height: vw(40);
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: vw(10);
            background-size: contain;
          }
          a{
            pointer-events: none;
            font-size: vw(30);
            line-height: 1;
            letter-spacing: 1px;
            font-weight: bold;
            color: #fff;
            text-align: center;
            display: block;
          }
          em{
            font-style: normal;
            font-size: vw(12);
            line-height: 1;
            display: block;
            margin-top: vw(5);
          }
        }
      }
      &_r{
        order: 1;
        display: flex;
        justify-content: flex-end;
        margin-bottom: vw(6);
        .btn{
          a{
            width: vw(220);
            height: vw(50);
            position: relative;
            transform: translateX(0);
            display: flex;
            &:after{
              content: "";
              position: absolute;
              width: 100%;
              height: 100%;
              z-index: -1;
              top: vw(4);
              border-radius: vw(5);
              left: 0;
              background: #846D2D;
            }
            span{
              width: 100%;
              height: 100%;
              font-size: vw(18);
              font-family: $minchor;
              padding-top: vw(2);
              display: flex;
              align-items: center;
              justify-content: center;
              color: #fff;
              border-radius: vw(5);
              line-height: 1;
              background: linear-gradient(0deg, rgba(225,208,159,1) 0%, rgba(206,181,100,1) 50%, rgba(196,165,66,1) 100%);
              position: relative;
              transition: transform 0.3s ease, -webkit-transform 0.3s ease, -moz-transform 0.3s ease;
              padding-left: vw(20);
              &:before{
                content:"";
                background: url(../images/icon_mail.png) no-repeat;
                background-size: contain;
                width: vw(26);
                height: vw(20);
                position: absolute;
                top: 50%;
                left: vw(25);
                transform: translateY(-50%);
              }
            }
          }
        }
      }
    }
  }
}