.sec3{
	padding: vw(75) 0 vw(100);
	background: #1a172a;
	h3{
		text-align: center;
		margin-bottom: vw(70);
		img{
			width: vw(700);
			height: auto;
		}
	}
	&_step{
		background: #fff;
		padding: vw(60) 0;
		border: 2px solid rgb(224, 207, 156);
		margin: 30px 0;
		.sec3_inner{
			display: flex;
			justify-content: space-between;
			margin-bottom: vw(30);
			dl{
				dt{
					padding: vw(15) vw(40) vw(15) vw(120);
					font-size: vw(40);
					line-height: vw(56);
					color: #fff;
					background: linear-gradient(to right, rgba(200,169,94,1) 61%, rgba(200,169,94,0) 100%);
					position: relative;
					font-family: "游明朝体", "Yu Mincho", YuMincho, YuGothic, serif;
					letter-spacing: vw(3);
					font-weight: bold;
					text-shadow: vw(3) vw(3) vw(3) rgba(153, 153, 153, 0.75);
					&:before{
						content:'';
						position: absolute;
						left: vw(40);
						top: vw(-30);
					}
					span{
						font-size: vw(25);
						line-height: vw(30);
					}
				}
				dd{
					padding: vw(40);
					font-size: vw(26);
					line-height: vw(44);
					img{
						margin: 0 auto vw(30);
						display: block;
					}
				}
			}
			&:first-of-type{
				dt{
					&:before{
						width: vw(41);
						height: vw(80);						
						background: url(../images/number1.png) no-repeat;
						background-size: contain;
					}
				}
				img{
					width: vw(366);
					height: auto;
				}
			}
			&:nth-of-type(2){
				dt{
					&:before{
						width: vw(65);
						height: vw(82);
						background: url(../images/number2.png) no-repeat;
						background-size: contain;
					}
				}
				img{
					width: vw(395);
					height: auto;
				}
			}
			&:nth-of-type(3){
				dt{
					&:before{
						width: vw(63);
						height: vw(84);
						background: url(../images/number3.png) no-repeat;
						background-size: contain;
					}
				}
				img{
					width: vw(384);
					height: auto;
				}
			}
			&:nth-of-type(4){
				dt{
					&:before{
						width: vw(58);
						height: vw(82);
						background: url(../images/number4.png) no-repeat;
						background-size: contain;
					}
				}
				img{
					width: vw(495);
					height: auto;
				}
			}
			&:nth-of-type(5){
				dt{
					&:before{
						width: vw(64);
						height: vw(87);
						background: url(../images/number5.png) no-repeat;
						background-size: contain;
					}
				}
				img{
					width: vw(361);
					height: auto;
				}
			}
		}
	}
	.sec3_video{
		text-align: center;
		h4{
			color: #9e7100;
			text-align: center;
			border-bottom: 1px solid #b59540;
			padding-bottom: vw(30);
			margin: vw(70) 0 vw(45);
			line-height: 1.5;
			font-size: vw(45);
			line-height: vw(50);
			font-weight: bold;
    	letter-spacing: vw(3);
    	font-family: "游明朝体", "Yu Mincho", YuMincho, YuGothic, serif;
		}
		iframe{
			width: 100%;
			height: vw(577);
			margin: 0 auto;
		}
	}
}
.sec4{
	background: url(../images/sec4_shadow.png) top repeat-x;
	h3{
		text-align: center;
		padding-top: vw(78);
		font-size: vw(53);
		line-height: 1;
		font-weight: 500;
		letter-spacing: vw(3);
		font-family: "游明朝体", "Yu Mincho", YuMincho, YuGothic, serif;
	}
	figure{
		text-align: center;
		margin: vw(25) 0 vw(30);
		img{
			width: vw(624);
			height: auto;
		}
	}
	&_subtt{
		text-align: center;
		padding: vw(19) 0;
		color: #9f6f01;
		position: relative;
		width: vw(588);
		margin: 0 auto;
		font-size: vw(35);
		line-height: vw(50);
		font-family: "游明朝体", "Yu Mincho", YuMincho, YuGothic, serif;
		font-weight: bold;
    letter-spacing: vw(3);
    &:before{
    	content: '';
    	width: 100%;
    	height: 1px;
    	background: linear-gradient(to left, rgba(200,169,94,0) 0%, rgba(200,169,94,0.42) 25%, rgba(200,169,94,1) 50%, rgba(200,169,94,2.8) 75%, rgba(200,169,94,0) 100%);
    	position: absolute;
    	top: 0;
    	left: 0;
    }
     &:after{
    	content: '';
    	width: 100%;
    	height: 1px;
    	background: linear-gradient(to left, rgba(200,169,94,0) 0%, rgba(200,169,94,0.42) 25%, rgba(200,169,94,1) 50%, rgba(200,169,94,2.8) 75%, rgba(200,169,94,0) 100%);
    	position: absolute;
    	bottom: 0;
    	left: 0;
    }
	}
	&_ct{
		&_inner{
			padding: vw(60) 0 vw(100);
			position: relative;
			font-family: "游明朝体", "Yu Mincho", YuMincho, YuGothic, serif;
			font-weight: bold;
			&:before{
				content: '';
				width: 100%;
				height: 100%;
				filter: grayscale(100%);
				background: url(../images/sec4_bg.png) bottom right no-repeat;
				background-size: contain;
				position: absolute;
				left: 0;
				top: 0;
			}
			ul{
				margin-bottom: vw(30);
				border-bottom: 1px solid #9f7101;
				padding: 0 vw(45);
				li{
					position: relative;
					padding-left: vw(73);
					margin-bottom: vw(40);
					font-size: vw(32);
					line-height: vw(44);
					&:after{
						content: '';
						width: vw(48);
						height: vw(42);
						background: url(../images/sec4_ic_list.png) no-repeat;
						background-size: contain;
						position: absolute;
						top: 50%;
						transform: translateY(-50%);
						left: 0;
					}
				}
			}
			p{
				font-size: vw(26);
				line-height: vw(50);
				span{
					color: #9E7100;
				}
			}
		}
	}
}
.sec5{
	text-align: center;
	background: #1a1a1a;
	padding: vw(80) 0 vw(75);
	h3{
		font-size: vw(40);
    line-height: 1;
    color: #fff;
    background: url(../images/bkg_ttl_pro.png) top center no-repeat;
    background-size: contain;
    padding: vw(15) 0;
    text-align: center;
    margin-bottom: vw(80);
    font-weight: 500;
    font-family: "游明朝体", "Yu Mincho", YuMincho, YuGothic, serif;
    letter-spacing: vw(3);
	}
	&_inner{
		background: #fff;
		padding: 0 vw(50) vw(40);
		border: 2px solid #e1d1a0;
		h4{
			padding: vw(53) 0 vw(30);
			margin-bottom: vw(35);
			font-size: vw(40);
			line-height: vw(48);
			font-weight: bold;
			color: #9E7100;
			text-align: right;
			letter-spacing: vw(3);
			position: relative;
			font-family: "游明朝体", "Yu Mincho", YuMincho, YuGothic, serif;
			&:before{
	    	content: '';
	    	width: vw(259);
	    	height: vw(89);
	    	background: url(../images/sec5_logo.png) top center no-repeat;
	    	background-size: contain;
	    	position: absolute;
	    	top: 50%;
				transform: translateY(-50%);
				left: 0;
	    }
	    &:after{
	    	content: '';
	    	width: 100%;
	    	height: 1px;
	    	background: linear-gradient(to left, rgba(200,169,94,0) 0%, rgba(200,169,94,0.42) 12.25%, rgba(200,169,94,1) 49.67%, rgba(200,169,94,2.8) 90.63%, rgba(200,169,94,0) 100%);
	    	position: absolute;
	    	bottom: 0;
	    	left: 0;
	    }
		}
		&_ct{
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			figure{
				width: 50%;
				font-size: inherit;
				padding-right: vw(10);
				margin-bottom: vw(30);
				font-size: 0;
				figcaption{
					text-align: center;
					background: #dedee0;
					border-radius: vw(5);
					margin-bottom: vw(15);
					font-size: vw(27);
					line-height: 1;
					padding: vw(17) 0 vw(12);
					letter-spacing: vw(-2);
				}
				img{
					height: auto;
					width: 100%;
					object-fit: cover;
				}
				&:nth-of-type(even){
					padding-right: 0;
					padding-left: vw(10);
				}
			}
		}
	}
}
.sec6{
	padding: vw(90) 0 vw(100);
	background: url(../images/sec4_shadow.png) top repeat-x;
	h3{
		text-align: center;
		margin-bottom: vw(20);
		img{
			width: vw(419);
			height: auto;
		}
	}
	h4{
		text-align: center;
		margin-bottom: vw(50);
		padding-bottom: vw(40);
		position: relative;
		img{
			width: vw(549);
			height: auto;
		}
		&:after{
    	content: '';
    	width: 100%;
    	height: 1px;
    	background: linear-gradient(to left, rgba(200,169,94,0) 0%, rgba(200,169,94,0.42) 12.25%, rgba(200,169,94,1) 49.67%, rgba(200,169,94,2.8) 90.63%, rgba(200,169,94,0) 100%);
    	position: absolute;
    	bottom: 0;
    	left: 0;
    }
	}
	&_inner{
		width: 100%;
		margin: 0 auto;
		&_ct{
			text-align: center;
			em{
				font-style: normal;
				font-family: "游明朝体", "Yu Mincho", YuMincho, YuGothic, serif;
	    	letter-spacing: vw(3);
	    	line-height: 1;
	    	font-size: vw(47);
	    	margin-bottom: vw(40);
	    	font-weight: bold;
	    	display: block;
			}
			&_t{
				display: flex;
				align-items: center;
				justify-content: center;
				margin-bottom: vw(80);
				p{
					display: flex;
					align-items: center;
					span{
						font-size: vw(37);
						letter-spacing: vw(3);
			    	line-height: 1;
			    	font-family: "游明朝体", "Yu Mincho", YuMincho, YuGothic, serif;
			    	padding: vw(18) 0;
			    	color: #fff;
			    	background: linear-gradient(to left, rgba(200,169,94,0) 0%, rgba(200,169,94,0.42) 12.25%, rgba(200,169,94,1) 49.67%, rgba(200,169,94,0.28) 90.63%, rgba(200,169,94,0) 100%);
						display: block;
						width: vw(242);
						font-weight: bold;
					}
					&:first-of-type{
						&:after{
							content: '';
							width: vw(39);
							height: vw(39);
							display: block;
							margin: 0 vw(10);
							background: url(../images/ic_plus.png) no-repeat;
	    				background-size: contain;
						}
					}
					img{
						width: vw(88);
						height: auto;
						margin: 0 auto;
						display: block;
					}
				}
			}
		}
		figure{
			img{
				width: vw(660);
			}
		}
	}
}
.contact{
	background: #1a172a;
	padding: vw(83) 0 vw(100);
	&_inner{
		border: 2px solid rgb(224, 207, 156);
		background: #fff;
		padding: vw(55) vw(40);
		h3{
			text-align: center;
			color: #9d7201;
			border-bottom: 1px solid #9E7100;
			padding-bottom: vw(30);
			font-size: vw(39);
			line-height: 1;
			font-weight: bold;
	    font-family: "游明朝体", "Yu Mincho", YuMincho, YuGothic, serif;
	    letter-spacing: vw(3);
		}
		&_list{
			display: flex;
			justify-content: space-between;
			padding: vw(25) 0 vw(30);
			.phone{
				position: relative;
				margin: 0 auto;
				display: block;
				img{
					width: vw(640);
					height: auto;
				}
			}
		}
		.btn{
			text-align: center;
			a{
				width: 100%;
				height: vw(124);
				position: relative;
				transform: translateX(0);
				text-align: center;
				display: flex;
				margin: 0 auto;
				span{
					width: 100%;
					height: 100%;
					font-size: vw(34);
					line-height: 1;
					padding-top: 2px;
					display: flex;
					align-items: center;
					justify-content: center;
					color: #fff;
					border-radius: vw(5);
					line-height: 1;
					background: linear-gradient(0deg, #e1d09f 0%, #ceb564 50%, #c4a542 100%);
					position: relative;
					transition: transform 0.3s ease;
					padding-left: vw(20);
					vertical-align: middle;
					font-weight: bold;
					font-family: "游明朝体", "Yu Mincho", YuMincho, YuGothic, serif;
					letter-spacing: vw(3);
					&:before{
						content: "";
						background: url(../images/ic_mail.png) no-repeat;
						background-size: contain;
						width: vw(48);
						height: vw(36);
						display: inline-block;
						vertical-align: middle;
						padding-right: vw(25);
						position: relative;
    				top: -2px;
					}
				}
				&:after{
					content: "";
					position: absolute;
					width: 100%;
					height: 100%;
					z-index: -1;
					top: vw(7);
					border-radius: vw(5);
					left: 0;
					background: #846D2D;
				}
			}
		}
	}
}