.st_banner{
  background-color: #1A172A;
  padding: vw(85) 0 vw(490);
  position: relative;
  transform: translateZ(0);
   &:after{
    content:"";
    background: url(../images/img_banner.png) no-repeat;
    background-size: 100% 100%;
    width: 100%;
    height: vw(936);
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
  } 
  .bx_banner{
    .txt_top{
      font-size: vw(40);
      line-height: vw(55);
      letter-spacing: vw(16);
      color: #fff;
      font-weight: bold;
      font-family: $minchor;
      margin-bottom: vw(50);
      text-align: center;
    }
    .txt_fe{
      font-size: vw(22);
      color: #fff;
      line-height: 1;
      position: relative;
      margin: 0 auto vw(25);
      display: block;
      width: vw(262);
      text-align: center;
      padding: 0px vw(20);
      &:before{
        content:"";
        width: vw(10);
        height: vw(2);
        background-color: #fff;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
      }
      &:after{
        content:"";
        width: vw(10);
        height: vw(2);
        background-color: #fff;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 0;
      }
    }
    figure{
      line-height: 0;
      text-align: center;
      img{
        width: vw(636);
        height: vw(88);
      }
    }
    .ttl_banner{
      line-height: 0;
      text-align: center;
      margin: vw(30) 0 0 0;
      img{
        width: vw(552);
        height: vw(50);
      }
    }
  }
}
.bx_fss{
  padding: vw(45) 0;
  background-color: #22163A;
  .bk_b{
    border-radius: vw(7);
    background: url(../images/border_fss.png) no-repeat;
    background-size: 100% 100%;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    padding: vw(39)  vw(37) vw(32);
    position: relative;
    h3{
      text-align: center;
      margin-bottom: vw(30);
      img{
        width: vw(472);
        height: vw(33);
      }
    }
    p{
      font-size: vw(26);
      line-height: vw(44);
      color: #fff;
    }
    em{
      font-size: vw(21);
      line-height: vw(30);
      color: #fff;
      font-style: normal;
      display: block;
      margin-top: vw(36);
    }
    .icon_sys{
      position: absolute;
      bottom: vw(32);
      right: vw(37);
      img{
        width: vw(180);
        height: vw(100);
      }
    }
  }
}
.st_encounter{
  padding: vw(94) 0 vw(350);
  background-color: #0A0514;
  position: relative;
  overflow: hidden;
   &:after{
    content:"";
    background: url(../images/img_count.png) center center no-repeat;
    background-size: cover;
    width: vw(750);
    height: vw(657);
    position: absolute;
    bottom: vw(-100);
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: all 1s ease 0.3s;
  }
  &.active{
    &:after {
      opacity: 1;
      bottom: 0;
    }
  }
  .bx_ent{
    .ttl_ent{
      text-align: center;
      line-height: 1;
      color: #fff;
      font-family: $light;
      font-size: vw(50);
      font-weight: 300;
      letter-spacing: vw(10);
    }
    .ttl_sub{
      text-align: center;
      margin: vw(22) 0;
      letter-spacing: vw(3);
      display: block;
      line-height: 1;
      font-size: vw(25);
      color: #fff;
      font-family: $light;
    }
    .gr_art{
      position: relative;
      display: flex;
      flex-flow: row wrap;
      article{
        text-align: center;
        width: vw(395); 
        /* width: calc(50% - #{vw(5)});
        margin: 0 0 vw(30) vw(5); */
        height: vw(460);
        background: url(../images/bkg_count.png) no-repeat;
        background-size: 100% 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin: 0 vw(-20);
        &:nth-of-type(1){
          h3{
            img{
              width: vw(69);
              height: auto;
            }
          }
          span{
            img{
              width: vw(100);
              height: auto;
            }
          }
        }
        &:nth-of-type(2){
          h3{
            img{
              width: vw(129);
              height: auto;
            }
          }
          span{
            img{
              width: vw(50);
              height: auto;
            }
          }
        }
        &:nth-of-type(3){
          margin-top: vw(-20);
          h3{
            img{
              width: vw(122);
              height: auto;
            }
          }
          span{
            img{
              width: vw(192);
              height: auto;
            }
          }
        }
        &:nth-of-type(4){
          margin-top: vw(-20);
          h3{
            img{
              width: vw(109);
              height: auto;
            }
          }
          span{
            img{
              width: vw(169);
              height: auto;
            }
          }
        }
        h3{
          line-height: 0;
          margin-bottom: vw(14);
        }
        span{
          line-height: 0;
          margin-bottom: vw(15);
        }
        p{
          font-size: vw(26);
          line-height: vw(44);
          color: #fff;
        }
      }
    }
  }
}
.st_type_hand{
  background: url(../images/bkg_product.png) no-repeat;
  background-size: 100% 100%;
  padding: vw(105) 0 vw(113);
  .ttl_type{
    font-size: vw(40);
    line-height: 1;
    color: #fff;
    font-family: $minchor;
    background: url(../images/bkg_ttl_pro.png) top center no-repeat;
    background-size: contain;
    padding: vw(18) 0 vw(16);
    text-align: center;
    margin-bottom: vw(86);
  }
  .gr_type{
    padding: 0 vw(38);
    article{
      margin: 0 0 vw(58) 0;
      position: relative;
      transform: translateZ(0);
      padding-bottom: vw(75);
      &:not(:last-child){
        border-bottom: 1px solid #999999;
      }
      &:nth-of-type(1){
        figure{
          img{
            width: vw(405);
            height: vw(257);
          }
        }
        h3{
          background-size: 90% 100%;
        }
      }
      &:nth-of-type(2){
        figure{
          img{
            width: vw(380);
            height: vw(248);
          }
        }
        .main_art{
          .list_gt{
            li{
              &:nth-of-type(3){
                display: inline-block;
              }
              &:nth-of-type(4){
                display: inline-block;
                margin-left: vw(30);
              }
            }
          }
        }
      }
      &:nth-of-type(3){
        figure{
          img{
            width: vw(418);
            height: vw(262);
          }
        }
      }
      &:nth-of-type(4){
        figure{
          img{
            width: vw(416);
            height: vw(248);
          }
        }
      }
      figure{
        text-align: center;
        line-height: 0;
      }
      h3{
        font-size: vw(35);
        line-height: 1;
        color: #fff;
        font-family: $minchor;
        font-weight: bold;
        background: url(../images/bg_tt_pro.png) top center no-repeat;
        background-size: 100% 100%;
        text-align: center;
        height: vw(110);
        padding-top: vw(5);
        margin: vw(-20) vw(-38) vw(20);
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .main_art{
        .list_gt{
          li{
            font-size: vw(26);
            line-height: vw(50);
            color: #fff;
            font-family: $minchor;
            position: relative;
            padding-left: vw(55);
            &:before{
              content:"◆";
              color: #fff;
              font-size: vw(26);
              line-height: 1;
              font-family: $minchor;
              position: absolute;
              top: vw(10);
              left: 0;
            }
          }
        }
        em{
          font-size: vw(22);
          line-height: vw(46);
          color: #fff;
          font-family: $minchor;
          font-style: normal;
          display: block;
          margin-top: vw(30);
        }
      }
    }
  }
  .bx_specific{
    border: vw(2) solid #E0CF9C;
    border-radius: vw(7);
    background-color: #fff;
    .ttl_spec{
      font-size: vw(35);
      line-height: 1;
      color: #fff;
      font-family: $minchor;
      letter-spacing: vw(3);
      background-color: #C8A95E;
      padding: vw(22) 0;
      margin: vw(-2);
      text-align: center;
    }
    .spec_infor{
      padding: vw(33) vw(39) vw(12);
      dl{
        display: flex;
        padding: vw(25) 0;
        &:not(:last-child){
          border-bottom: 1px solid #CCCCCC;
        }
        dt{
          width: vw(241);
          font-size: vw(28);
          font-weight: bold;
          line-height: vw(46);
        }
        dd{
          width: calc(100% - #{vw(241)});
          font-size: vw(26);
          line-height: vw(46);
        }
      }
    }
  }
}
.st_face_body{
  position: relative;
  transform: translateZ(0);
  padding-top: vw(85);
  .bx_f_body{
    .ttl_face{
      margin: 0 0 vw(70) 0;
      letter-spacing: 11px;
      position: relative;
      text-align: center;
      &:after{
        content::"&";
        font-size: vw(220);
        line-height: 1;
        color: #E6E6E6;
        font-family: $minchor;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        font-weight: 500;
        z-index: -1;
      }
      span{
        font-size: vw(69);
        line-height: 1;
        font-family: $minchor;
        display: block;
        ins{
          font-size: vw(85);
          text-decoration: none;
        }
        +span{
          margin-top: vw(20);
        }
      }
    }
    h3{
      margin-bottom: vw(50);
      text-align: center;
      img{
        width: vw(644);
        height: auto;
      }
    }
    p{
      font-size: vw(28);
      letter-spacing: 1px;
      line-height: vw(55);
      font-family: $minchor;
      font-weight: 600;
      .txt_g{
        color: #9E7100;
      }
      +p{
        margin-top: vw(30);
      }
    }
  }
}
.bx_img_body{
  position: relative;
  height: vw(473);
  margin-top: vw(90);
  &:before{
    content:"";
    background: url(../images/icon_after.png) no-repeat;
    background-size: contain;
    width: vw(125);
    height: vw(161);
    position: absolute;
    top: vw(22);
    right: vw(90);
  }
   &:after{
    content:"";
    background: url(../images/bkg_face.png) no-repeat;
    background-size: 100% 100%;
    width: vw(710);
    height: vw(473);
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
  } 
  .bx_small{
    width: vw(184);
    height: vw(210);
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(../images/bkg_sub.png) no-repeat;
    background-size: contain;
    flex-direction: column;
    font-family: $minchor;
    text-align: center;
    position: absolute;
    top: vw(32);
    right: vw(458);
    z-index: 1;
    small{
      font-size: vw(24);
      letter-spacing: vw(1);
      color: #fff;
      text-shadow: 3px 0 3px rgba(0,0,0,0.75);
    }
    em{
      font-size: vw(31);
      color: #fff;
      letter-spacing: vw(1);
      line-height: 1;
      font-style: normal;
      text-shadow: 3px 0 3px rgba(0,0,0,0.75);
    }
  }
  .bx_large{
    width: vw(240);
    height: vw(275);
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(../images/bkg_sub.png) no-repeat;
    background-size: contain;
    flex-direction: column;
    text-align: center;
    position: absolute;
    top: vw(161);
    right: vw(205);
    z-index: 1;
    em{
      font-size: vw(34);
      line-height: vw(54);
      color: #fff;
      font-family: $minchor;
      font-style: normal;
      text-shadow: 3px 0 3px rgba(0,0,0,0.75);
      letter-spacing: vw(1);
    }
  }
}
.bx_list_img{
  .list_img{
    display: flex;
    li{
      width: 33.33%;
      line-height: 0;
      img{
        width: 100%;
        height: auto;
      }
    }
  }
}